@font-face {
  font-family: 'BigelowRules';
  src: url(../fonts/BigelowRules/BigelowRules-Regular.ttf)
}

.title {
  font-family: 'BigelowRules', serif;
  font-size: 72px;
  color: #0ccac4;
}

.App {
  text-align: center;
}
